<div class="row justify-content-center py-5">
    <div class="col-lg-6 col-md-8 col-sm-8">
        <div class="card shadow align-middle">
            <div class="card-title text-center border-bottom">
                <h2 class="p-3">Patient Creation Form</h2>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="name" class="form-label">
                            <h5>Name</h5>
                        </label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="patient.name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="visitedDoctor" class="form-label">
                            <h5>Visited Doctor</h5>
                        </label>
                        <div id="visitedDoctorHelp" class="form-text ps-1">Choose Doctor</div>
                        <select class="form-select" aria-label="visitedDoctor" [(ngModel)]="patient.visitedDoctor"
                            name="visitedDoctor">
                            <option *ngFor="let doctor of doctors" value={{doctor.name}}>{{doctor.name}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="prescription" class="form-label">
                            <h5>Prescription</h5>
                        </label>
                        <textarea class="form-control" name="prescription" id="prescription" rows="5"
                            [(ngModel)]="patient.prescription"></textarea>
                    </div>

                    <div class="d-grid py-4">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
                <div class="d-grid">
                    <button class="btn btn-primary" routerLink="">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>